body {
  width: 350px;
  height: 520px; /* גובה קבוע שמתאים לתוכן */
  margin: 0;
  padding: 0;
  overflow: hidden; /* מבטל את הגלילה */
  background-color: #f9f9f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}